
@{
    ViewData["Title"] = "Index";
}

<header>
    <h2>Bài Tập</h2>
</header>
<section>
    <nav>
        <ul>
            <li>@ViewBag.HoTen</li>
            <li>@ViewBag.MSSV</li>
        </ul>
    </nav>
   <article>
        
        <img src="https://logosmarcas.net/wp-content/uploads/2020/09/Google-Logo-2010-2013.png" style="width:150px; height:200px;" />
    </article>
</section>

<footer>
    <p>Copyright &copy; @ViewBag.HoTen - @ViewBag.Nam</p>
</footer>

