@{
    ViewData["Title"] = "Home Page";
}


<header>
    <h2>ZanhZanhgroup</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/trang-chu">Giới Thiệu bản thân</a></li>
            <li><a href="~/gioi-thieu-nhom">Thành viên nhóm</a></li>
           
        </ul>
    </nav>

    <article>
        <h1>Lam Gia Kiet</h1>
        
    </article>
</section>

<footer>
    <p>Copyright &copy; -@DateTime.Now.Year</p>
</footer>

